extends layout

block content
  h1.center Welcome
  ol
    li
      a(href='timer') Timer
    each po in programs
      each wo in po.workouts
        li
          a(href=`/program/${po._id}/workout/${wo._id}`) View #{po.programName}: #{wo.workoutName} (#{wo.status})
