extends layout 

block content
  h1.medium-text= data.workoutName
  each e in data.excercises
    h2.small-text= e.excerciseName
    ol
      each s in e.sets 
        li #{s.reps} x #{s.load}
  form(method='POST', action=`/update-workout/${data._id}`)
    input(type='hidden', name='status', value='COMPLETED')
    button(type='submit').center Complete workout
