extends layout 

block content
  h1.medium-text= data.workoutName
  each e in data.excercises
    h2.small-text= e.excerciseName
    ol
      each s in e.sets 
        li #{s.reps} x #{s.load}
  form(method='POST', action=`/api/result`)
    input(type='hidden', name='workout', value=`${data._id}`)
    input(type='hidden', name='program', value=`${programId}`)
    if data.output 
      label #{data.output.desc}
      input(type='number', name='output', required='true')
    button(type='submit').center Complete workout
