extends layout 

block content
  h1= data.workoutName
  div.row
    each e in data.excercises
      div.col.grow
        h2= e.excerciseName
        ol
          each s in e.sets 
            li #{s.reps} x #{s.load}
  if pending
    form(method='POST', action=`/api/result`)
      input(type='hidden', name='workout', value=`${data._id}`)
      input(type='hidden', name='program', value=`${programId}`)
      if data.output 
        label #{data.output.desc}
        input(type='number', name='output', required='true')
      button(type='submit') Complete workout
